:root {
    --primary1: hsl(193, 38%, 86%);
    --primary2: hsl(150, 100%, 66%);
    --neutral1: hsl(217, 19%, 38%);
    --neutral2: hsl(217, 19%, 24%);
    --neutral3: hsl(218, 23%, 16%);
}
* {
    margin: 0;
    padding: 0;
    font-family: Manrope, sans-serif;
}
body {
    background-color: var(--neutral3);
}
h3 {
    color: var(--primary2);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
.main-card {
    position: relative;
    background-color: var(--neutral2);
    border-radius: 0.8rem;
    margin: 10% 5%;
    padding: 3rem 2rem;
    text-align: center;
}
.joke-main {
    color: var(--primary1);
    margin: 2rem 0;
}
.divider-img {
    width: 95%;
}
.button {
    background-color: var(--primary2);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    display: inline-block;
    position: absolute;
    left: calc(50% - 2.5rem);
    bottom: -2.5rem;
}
.button-img {
    color: var(--neutral3);
}
.attribution {
    color: var(--primary1);
    background-color: var(--neutral1);
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 1%;
    text-align: center;
}
.attribution a {
    color: var(--primary2);
}

@media (min-width: 600px) {
    .main-card {
        max-width: 600px;
        margin: 10% auto;
    }
}
